@model IEnumerable <issueTrack.Models.TBRepository>
@{
    //ViewContext.FormContext = new FormContext();
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create A New Repository</button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create A New Repository</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("RepositoryCreationPartialView", new issueTrack.Models.RepositoryCreationViewModel { })
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                        <p>Not a member? <a href="#">Sign Up</a></p>
                        <p>Forgot <a href="#">Password?</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FDRepositoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FDCreationTimestamp)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.FDRepositoryName, "Details", "Repository", new { id = item.FDRepositoryID},null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FDCreationTimestamp)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}